@using HrApp.MVC.Models.Expense
@using System.Security.Claims

@model CreateExpenseViewModel

<div class="container">
    <div class="login-form login-form-left">
        <div class="agile-row">
            <div class="login-agileits-top">
                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="AppUserId" value="@User.FindFirstValue("nameid")" /> @* cookieden
                    AppUserId çekilecek ve valueya yazılacak! *@
                    <div class="form-group">
                        <label class="mt-4" asp-for="ExpenseTypeId">Expense Types</label>
                        <select class="form-control" asp-for="ExpenseTypeId" asp-items="@ViewBag.ExpenseTypes"></select>
                        <span asp-validation-for="ExpenseTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CurrencyId">Currencies</label>
                        <select class="form-control" asp-for="CurrencyId" asp-items="@ViewBag.Currencies"></select>
                        <span asp-validation-for="CurrencyId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount">Expense Amount</label>
                        <input asp-for="Amount" class="form-control" min="1" max="10000" step="1" /> @* max değer
                        belirlenecek *@
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="File" class="control-label">File</label>
                        <input asp-for="File" type="file" class="form-control-file"
                            accept=".jpg , .jpeg , .png, .pdf" />
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container  mt-4">
    <div class="text-center">
        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Expenses</h5>
    </div>
</div>

<table class="grid table text-dark mb-0" id="Expenses">
    <thead>
        <tr>
            <th>Id</th>
            <th>Expense Type</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Approval Status</th>
            <th>Approval Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewBag.Expenses != null)
            {
                @foreach (var expense in ViewBag.Expenses)
                {
                    <tr>
                        <td>@expense.Id</td>
                        <td>@expense.ExpenseTypeName</td>
                        <td>@expense.Amount</td>
                        <td>@expense.Currency</td>
                        <td>@expense.ApprovalStatus</td>
                        @{
                            if (expense.ApprovalStatus == "Waiting...")
                            {
                                <td></td>
                                <td>
                                    <a class="file" style="cursor:pointer;"><i class="fa-regular fa-file"></i> Show File</a> |
                                    <a asp-action="Delete" asp-route-id="@expense.Id" class="details">
                                        <i class="fa-regular fa-trash-can"></i> Delete</a> |
                                    <a class="details" style="cursor:pointer;"><i class="fa-regular fa-pen-to-square"></i> Update</a>
                                </td>
                            }
                            else
                            {
                                <td>@expense.ApprovalDate.ToString("dd/MM/yyyy")</td>
                                <td></td>
                            }
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>

<div class="modal fade" id="partialModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Expense</h5>
                <button type="button" class="fa fa-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables ve AdminLTE DataTables Plugin JS -->
    <script src="~/AdminLTE-3.1.0/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <!-- Gerekli DataTables buttons plugin js dosyaları -->
    <script src="~/AdminLTE-3.1.0/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>


    <script>
        $(function () {
            $("#Expenses").DataTable({
                "responsive": true,
                "lengthChange": true,
                "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "colvis"],
            }).buttons().container().appendTo('#Expenses_wrapper .col-md-6:eq(0)').addClass("mb-4");
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $("#Expenses .details").click(function () {
                var id = $(this).closest("tr").find("td").eq(0).html();

                $.ajax({
                    type: "GET",
                    url: "/Expense/Read",
                    data: { "id": id },
                    success: function (response) {
                        $("#partialModal").find(".modal-body").html(response);
                        $("#partialModal").modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
        $(function () {
            $("#Expenses .file").click(function () {
                var id = $(this).closest("tr").find("td").eq(0).html();
                window.open('/Expense/GetReport/' + id, '_blank');
            });
        });
    </script>
}