@using HrApp.MVC.Models.Leave
@using System.Security.Claims


@model CreateLeaveViewModel

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" onclick="setActiveTab('nav-home-id')">Yearly Leave Form</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" onclick="setActiveTab('nav-profile-tab')">Other Leave Form</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="container">
            <div class="login-form login-form-left">
                <div class="agile-row">
                    <h2></h2>
                    <div class="login-agileits-top">
                        <form asp-action="Create" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <input type="hidden" asp-for="AppUserId" value="@User.FindFirstValue("nameid")" />
                            <div class="form-group">
                                <input type="hidden" class="form-control" asp-for="LeaveTypeId" value="1">
                            </div>
                            <div class="form-group">
                                <label asp-for="StartDate">Start Date</label>
                                <input asp-for="StartDate" asp-format="{dd/MM/yyyy}" class="form-control" />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EndDate">End Date</label>
                                <input asp-for="EndDate" asp-format="{dd/MM/yyyy}" class="form-control" />
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                            <input type="submit" value="Add">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="container">
                <div class="login-form login-form-left">
                    <div class="agile-row">
                        <h2></h2>
                        <div class="login-agileits-top">
                            <form asp-action="Create" enctype="multipart/form-data" method="post">
                                <div asp-validation-summary="ModelOnly"></div>
                            <input type="hidden" asp-for="AppUserId" value="@User.FindFirstValue("nameid")"/>
                                <div class="form-group">
                                    <label for="adtypes">Leave Type:</label>
                                    <select id="adtypes" class="form-control" asp-for="LeaveTypeId" asp-items="@ViewBag.LeaveTypes"></select>
                                    <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="StartDate">Start Date</label>
                                    <input asp-for="StartDate" asp-format="{dd/MM/yyyy}" class="form-control" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                                    <input type="hidden" asp-for="EndDate" id="hiddenEndDate" value="@DateTime.Now"/>
                                    <input type="hidden" asp-for="RequestDate" value="@DateTime.Now" />
                                <input type="submit" value="Add">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>




    <div class="container">
        <div class="text-center">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Leaves</h5>
        </div>
    </div>

    <table class="grid table text-dark" id="Leaves">
        <thead>
            <tr>
                <th>Id</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>Amount</th>
                <th>End Date</th>
                <th>Request Date</th>
                <th>Approval Status</th>
                <th>Approval Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
                @{
                    if(ViewBag.Leaves != null){
                                    @foreach (var advance in ViewBag.Leaves)
                        {
                                        <tr>
                                            <td>@advance.Id</td>
                                            <td>@advance.LeaveTypeName</td>
                                            <td>@advance.StartDate</td>
                                            <td>@advance.NumDays</td>
                                            <td>@advance.EndDate</td>
                                            <td>@advance.RequestDate</td>
                                            <td>@advance.ApprovalStatus</td>
                                            
                                        @{
                                if (advance.ApprovalStatus == "Waiting...")
                                {
                                                            <td>
                                                            </td>
                                                            <td>
                                                                
                                                                <a asp-action="Delete" asp-route-id="@advance.Id" class="btn btn-danger">Delete</a>
                                                            </td>
                                }
                                else
                                {
                                                            <td>@advance.ApprovalDate</td>
                                }
                                        }
                                            
                                        </tr>
                        }
                    }
                }
        </tbody>
    </table>
</div>
@* <div class="modal fade" id="partialModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leave</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div> *@

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @* <script>
        $function(){
            $("#adtypes").change(function () {
                var selected = $(this).val();

                var startDate = "@Model.StartDate";

                $("#endDateHidden").val(startDate+)


            });


        });


    </script> *@

    @* <script type="text/javascript">
        $(function () {
            $("#Leaves .details").click(function () {
                var id = $(this).closest("tr").find("td").eq(0).html();

                $.ajax({
                    type: "GET",
                    url: "/Leave/Read",
                    data: { "id": id },
                    success: function (response) {
                        $("#partialModal").find(".modal-body").html(response);
                        $("#partialModal").modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });


    </script> *@

        

       @*  <script>
            function setActiveTab(tabId) {
                var activeTab = document.getElementById(tabId);
                if (activeTab) {
                    // Deactivate all tabs
                    document.querySelectorAll('.nav-link').forEach(function (tab) {
                        tab.setAttribute('aria-selected', 'false');
                    });

                    // Activate the specified tab
                    activeTab.setAttribute('aria-selected', 'true');
                }
            }

            // Usage:
            // Call setActiveTab with the desired tab ID when you want to change the active tab
        </script> *@
}
