@using HrApp.MVC.Models.Advance

@model CreateAdvanceViewModel

<div class="container">
        <div class="login-form login-form-left">
            <div class="agile-row">
                <h2>Add Menu</h2>
                <div class="login-agileits-top">
                    <form asp-action="Create" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" ></div>
                        <input type="hidden" asp-for="AppUserId" value="" /> @* cookieden AppUserId çekilecek ve valueya yazılacak! *@
                    <div class="form-group">
                        <label asp-for="AdvanceTypeId">Advance Types</label>
                        <select class="form-control" asp-for="AdvanceTypeId" asp-items="@ViewBag.AdvanceTypes"></select>
                        <span asp-validation-for="AdvanceTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CurrencyId">Currencies</label>
                        <select class="form-control" asp-for="CurrencyId" asp-items="@ViewBag.Currencies"></select>
                        <span asp-validation-for="CurrencyId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount">Advance Amount</label>
                        <input asp-for="Amount" class="form-control" min="1" max="10" step="1" /> @* max değeri kullanıcıya göre belirlenecek *@
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RequestDate">Request Date</label>
                        <input asp-for="RequestDate" asp-format="{dd/MM/yyyy}" class="form-control"/> 
                        <span asp-validation-for="RequestDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                        <input type="submit" value="Add">
                    </form>
                </div>
        </div>
    </div>
    
    <div class="container">
        <div class="text-center">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Advances</h5>
        </div>
    </div>
            
    <table class="grid table text-dark" id="Advances">
        <thead>
            <tr>
                <th>Id</th>
                <th>Advance Type</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Request Date</th>
                <th>Approval Status</th>
                <th>Approval Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ViewBag.Advances != null)
                {
                    @foreach (var advance in ViewBag.Advances)
                    {
                        <tr>
                            <td>@advance.Id</td>
                            <td>@advance.AdvanceTypeName</td>
                            <td>@advance.Amount</td>
                            <td>@advance.Currency</td>
                            <td>@advance.RequestDate</td>
                            <td>@advance.ApprovalStatus</td>
                            <td>@advance.ApprovalDate</td>
                            <td>
                                <a class="details btn btn-dark">Get Advance</a>
                            </td>
                        </tr>
                    }
                    
                }
              }  
        </tbody>
    </table>
</div>
<div class="modal fade" id="partialModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Advance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(function () {
            $("#Advances .details").click(function () {
                var id = $(this).closest("tr").find("td").eq(0).html();

                $.ajax({
                    type: "GET",
                    url: "/Advance/Read",
                    data: { "id": id },
                    success: function (response) {
                        $("#partialModal").find(".modal-body").html(response);
                        $("#partialModal").modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>
}