@model AppUserDetailViewModel

@* <ul>
    <li>Name: @Model.Name @(!string.IsNullOrEmpty(Model.SecondName) ? Model.SecondName : "")</li>
    <li>Surname: @Model.Surname @(!string.IsNullOrEmpty(Model.SecondSurname) ? Model.SecondSurname : "")</li>
    <li>Address: @Model.Address</li>
    <li>Birth Place: @Model.BirthPlace</li>
    <li>Birth Year: @Model.BirthYear</li>
    <li>Company Name: @Model.CompanyName</li>
    <li>Occupation: @Model.Occupation</li>
    <li>Email: @Model.Email</li>
    <li>StartDate: @Model.StartDate</li>
    <li>EndDate: @Model.EndDate</li>
    <li>Department: @Model.Department</li>
    <li>Mobile Number: @Model.MobileNumber</li>
</ul> *@

<table class="border border-1">
    <tr>
        <td>Photo:</td>
        <td><img src="@Model.Image" width="30" height="30" alt="" /></td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name @(!string.IsNullOrEmpty(Model.SecondName) ? Model.SecondName : "")</td>
    </tr>
    <tr>
        <td>Surname</td>
        <td>@Model.Surname @(!string.IsNullOrEmpty(Model.SecondSurname) ? Model.SecondSurname : "")</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>Birth Place</td>
        <td>@Model.BirthPlace</td>
    </tr>
    <tr>
        <td>Birth Year</td>
        <td>@Model.BirthYear.ToString("yyyy-MM-dd")</td>
    </tr>
    <tr>
        <td>Company Name</td>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <td>Occupation</td>
        <td>@Model.Occupation</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>StartDate</td>
        <td>@Model.StartDate.ToString("yyyy-MM-dd")</td>
    </tr>
    <tr>
        <td>EndDate</td>
        <td>@(Model.EndDate.HasValue ? Model.EndDate.Value.ToString("yyyy-MM-dd") : "[N/A]")</td>
        
    </tr>
    <tr>
        <td>Department</td>
        <td>@Model.Department</td>
    </tr>
    <tr>
        <td>Mobile Number</td>
        <td>@Model.MobileNumber</td>
    </tr>
    <tr>
        <a asp-controller="Personnel" asp-action="Update" asp-route-id="@Model.Id" > Update </a>
    </tr>
</table>