@using HrApp.MVC.Areas.Admin.Models.Personnel;
@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model AppUserListViewModel

<div class="container mt-4">
    <div class="text-center">
        <h5 class="section-title ff-secondary text-center text-primary fw-normal">Personnels</h5>
    </div>
</div>

<table class="grid table text-dark mb-0" id="Personnels">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Second Name</th>
            <th>Surname</th>
            <th>Second Surname</th>
            <th>Birth Year</th>
            <th>Birth Place</th>
            <th>Turkish Identification Number</th>
            <th>Gender</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Department</th>
            <th>Company Name</th>
            <th>Occupation</th>
            <th>Address</th>
            <th>Mobile Number</th>
            <th>Salary</th>
            <th>Yearly Leave Days Left</th>
            <th>Yearly Advance Amount Left</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewBag.Personnels != null)
            {
                @foreach (var personnel in (List<AppUserListViewModel>)ViewBag.Personnels)
                {
                    <tr>
                        <td>@personnel.Id</td>
                        <td>@personnel.Name</td>
                        <td>@personnel.SecondName</td>
                        <td>@personnel.Surname</td>
                        <td>@personnel.SecondSurname</td>
                        <td>@personnel.BirthYear.ToString("dd/MM/yyyy")</td>
                        <td>@personnel.BirthPlace</td>
                        <td>@personnel.TurkishIdentificationNumber</td>
                        <td>@personnel.GenderId</td>
                        <td>@personnel.StartDate.ToString("dd/MM/yyyy")</td>
                        <td>@(personnel.EndDate.HasValue ? personnel.EndDate.Value.ToString("dd/MM/yyyy") : "N/A")</td>
                        <td>@personnel.Department</td>
                        <td>@personnel.CompanyName</td>
                        <td>@personnel.Occupation</td>
                        <td>@personnel.Address</td>
                        <td>@personnel.MobileNumber</td>
                        <td>@personnel.Salary</td>
                        <td>@personnel.YearlyLeaveDaysLeft</td>
                        <td>@personnel.YearlyAdvanceAmountLeft</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>