@using HrApp.MVC.Models.Expense

@model List<ReadExpenseViewModel>




<table class="table table-bordered table-striped data-table" id="Expenses">
    <thead>
        <tr>
            <th>Id</th>
            <th>Expense Type</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                @foreach (var expense in Model)
                {
                    <tr>
                        <td>@expense.Id</td>
                        <td>@expense.ExpenseTypeName</td>
                        <td>@expense.Amount</td>
                        <td>@expense.Currency</td>
                        <td>
                            <a asp-action="Approve" class="details btn btn-primary" asp-route-id="@expense.Id"
                                asp-route-data="expense" asp-route-isApproved="true">Approve</a>
                            <a asp-action="Approve" asp-route-id="@expense.Id" class="btn btn-danger" asp-route-data="expense"
                                asp-route-isApproved="false">Deny</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        // Initialize DataTables for each table with a unique class
        $("#Expenses").DataTable({
            "responsive": true,
            "lengthChange": true,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "colvis"],
        });
    });
</script>
