@using HrApp.MVC.Models.Advance
@using System.Security.Claims
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model ReadAdvanceViewModel

<div class="tab-content" id="nav-tabContent">
    <div class="container mt-4">
        <div class="text-center">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Advances</h5>
        </div>
    </div>
    <table class="grid table text-dark mb-0" id="Advances">
        <thead>
            <tr>
                <th>Id</th>
                <th>Advance Type</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Request Date</th>
                <th>Approval Status</th>
                <th>Approval Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ViewBag.Advances != null)
                {
                    @foreach (var advance in ViewBag.Advances)
                    {
                        <tr>
                            <td>@advance.Id</td>
                            <td>@advance.AdvanceTypeName</td>
                            <td>@advance.Amount</td>
                            <td>@advance.Currency</td>
                            <td>@advance.RequestDate.ToString("dd/MM/yyyy")</td>
                            <td>@advance.ApprovalStatus</td>
                            <td>@advance.ApprovalStatus</td>
                            @{
                                if (advance.ApprovalStatus == "Waiting...")
                                {
                                    <td>
                                    </td>
                                    <td>
                                        <a asp-action="Approve" class="btn btn-success">Approve</a>
                                        <a asp-action="Disapprove" class="btn btn-danger">Disapprove</a>
                                    </td>
                                }
                                else
                                {
                                    <td>@advance.ApprovalDate.ToString("dd/MM/yyyy")</td>
                                }
                            }
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables and its plugins -->
    <script src="~/AdminLTE-3.1.0/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables initialization script -->
    <script>
        $(document).ready(function () {
            $('#Advances').DataTable({
                "responsive": true,
                "lengthChange": true,
                "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "colvis"],
            }).buttons().container().appendTo('#Advances_wrapper .col-md-6:eq(0)');
        });
    </script>
}
